<select name="maxItemPerPage" id="maxItemPerPage">
    <option value="10" {% if maxItemPerPage == 10 %} selected {% endif %}>10</option>
    <option value="20" {% if maxItemPerPage == 20 %} selected {% endif %}>20</option>
    <option value="30" {% if maxItemPerPage == 30 %} selected {% endif %}>30</option>
</select> records per page<br>