{% extends 'base.html.twig' %}

{% block title %}New Experimentation{% endblock %}

{% block body %}
    <h1>Create new Experimentation</h1>

    {{ include('experimentation_form.html.twig') }}

    <a href="{{ path('experimentation_index') }}">back to list</a>
{% endblock %}
