{% extends 'base.html.twig' %}

{% block title %}Relevé Animal
{% endblock %}

{% block body %}
	<div class="container-fluid">
        <h1>Vous n'avez pas les droits suffisants pour accéder à cette page.<h1>
		
	<a href="{{ path('experimentation_index') }}" class="btn btn-danger">Retour</a>
</div>{% endblock %}
