{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}


	<div class="container">
		<h1>Bonjour</h1>

		<ul>
			<li><a href="{{ path('experimentation_exploitation_index') }}">Recherche sur une Exploitation</a></li>
			<li><a href="{{ path('individu_exploitation_index') }}">Recherche sur un Individu</a></li>
		</ul>
	</div>
{% endblock %}
