/* DATATABLES */
thead{
    color:#666!important;
}

.table.dataTable.no-footer{
    border-bottom: #ddd;
}

.table.dataTable thead th, table.dataTable thead td{
    border-bottom: #ddd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none!important;
    border: none!important;
    color: #333!important; 
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: #ecedf0!important;
    background-color: #ecedf0!important;
    border: #ecedf0!important;
    border-color: #ecedf0!important;
    box-shadow:none!important;
    color: #333!important;
}

/* Griser les fermes */
tr[class^="gris"]{
    background-color: #C8C8C8!important;
}

/* Boutons avec texte blanc quand selectionneur */
table.dataTable tbody tr.selected a, table.dataTable tbody th.selected a, table.dataTable tbody td.selected a{
    color: #FFF!important;
}

table.dataTable thead .sorting {
    background-image: url("/images/sort_both.png");
}

table.dataTable thead .sorting_asc {
    background-image: url("/images/sort_asc.png")
}

table.dataTable thead .sorting_desc {
    background-image: url("/images/sort_desc.png")
}