{% extends 'base.html.twig' %}

{% block title %}Mouvement index
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1>Mouvement index</h1>

		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Libellé Mouvement</th>
					<th>Information Mouvement</th>
				</tr>
			</thead>

			{% for mouvement in mouvements %}

				<tr>
					<td>{{ mouvement.libMouv }}</td>
					<td>{{ mouvement.infoMouv }}</td>
				</tr>

			{% else %}
				<tr>
					<td colspan="25">Aucun résultat</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="navigation">
		{{ knp_pagination_render(mouvements) }}
	</div>
</div>{% endblock %}
