{% extends 'base.html.twig' %}

{% block title %}Mouvement index
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1>Mouvement index</h1>

		<table class="table table-bordered table-hover" id="maTable">
			<thead>
				<tr>
					<th>Libellé</th>
					<th>Information</th>
					<th>Effectif</th>
				</tr>
			</thead>

			{% for mouvement in mouvements %}

				<tr>
					<td>{{ mouvement.libMouv }}</td>
					<td>{{ mouvement.infoMouv }}</td>
					<td>{{ mouvement.effectifMouvement }}</td>
				</tr>

			{% else %}
				<tr>
					<td colspan="25">Aucun résultat</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('individu_index', {'idLot': idLot, 'idExpe': idExpe}) }}" class="btn btn-danger">Retour</a>
</div>{% endblock %}
